/*HomePage*/
.username{
    position: absolute;
    right: 100px;
    top: 50px;
}
.children{
    height: 885px;
}
/*Footer*/
.footer{
    text-align: center;
    width: 100%;
}
.footerSpan{
    line-height: 9px;
    background-color: rgb(250,249,251);
}
/*HomePageSearch*/
.searchKitParent{
    padding: 5% 0;
}
.searchKit{
    padding: 10% 0;
}

