.shoppingCondition{
    margin-left: 60px;
    display: inline-block;
}
.searchCondition{
    margin-left: 60px;
    display: inline-block;
    vertical-align: center;

}
.newCondition{
    margin-left: 60px;
    display: inline-block;
}
.tableCondition{
    margin-top: 60px;
}

.searchWay{

    left: 70px;
}
.shoppingContent{
    width:100%;
}
.shoppingLine{
    margin-top: 60px;
}